body,
button,
input,
select,
textarea,
p {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    line-height: 1;
}

body {
    box-sizing: border-box;
    overflow: auto;
    text-overflow: clip;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: black;
}

p {
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: bold;
}

.hide {
    display: none;
    transition: .9s;
}

.hide2 {
    visibility: hidden;
    transition: .5s;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

#main_container {
    min-width: 1160px;
    min-height: 608px;
    margin-right: 10rem;
    margin-left: 10rem;
    height: 100vh;
    overflow: auto;
    box-shadow: 2px 13px 13px rgb(0, 0, .9);
    background-image: linear-gradient(to right, #a57b7b 100%, #a57b7b 100%);
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
}

.lead {
    margin-top: -2rem;
}

.masthead {
    padding-bottom: 1rem;
}

.success {
    color: #429890;
    border-radius: .1em;
    font-size: xx-large;
}

.masthead h1 {
    margin-top: 2rem;
    text-shadow: 6px 2px 1px rgba(3, 3, 3, 0.5);
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 500;
    transition: .5s;
    padding: .9rem .5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, #705353 0%, #705353 100%);
}

.intro {
    padding: 2em 2em;
    color: #ffffff;
    background: #429890;
}

.intro p,
.test-area {
    margin: 0 auto;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;
}

textarea {
    padding-left: .5rem;
    background-color: #FFFFFF;
}

.test-wrapper {
    border: 7px solid rgb(150, 149, 149);
    border-radius: .3rem;
    box-shadow: 2px 20px 15px 2px rgb(0, 0, 0, .8);
}

#origin-text {
    margin: 1em 0;
    padding: 1.5em 1.5em 0;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 2px 3px 30px 5px rgb(0, 0, 0, .8);
    border-radius: .2rem;
}

.matched {
    background-color: #FFFFFF;
    transition: .5s;
}

.hand_container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* text box and hands icons styles */

.fas {
    text-align: center;
    font-size: 2rem;
    position: relative;
    left: 70%;
    top: -4.5rem;
    transition: .9s;
    color: rgb(102, 35, 35);
    border: .3rem solid rgb(128, 95, 95);
    border-left: 1rem solid #cfa2b4;
    border-right: 1rem solid #dfb1c3;
    background-image: linear-gradient(to right, #f4f8fc 0%, #4f595a 100%);
    border-radius: 100%;
    padding: .4rem;
}

.hand:hover {
    transition: .9s;
    cursor: pointer;
    color: white;
    border: .3rem solid #FFFFFF;
    background-image: linear-gradient(-20deg, #070707 0%, #ff9a44 100%);
}

.flash_orig_text_onfail {
    border-left-color: #f32424;
    border-right-color: #f32424;
    transition: .1s
}

#origin-text p {
    margin: 0;
    color: black;
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 1.5rem;
}

.test-wrapper {
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
}

.meta {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timer {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding: .8rem;
    font-size: 2em;
    font-weight: bold;
}

.meta section {
    border-radius: .3rem;
    min-width: 203px;
    min-height: 40px;
    box-shadow: 2px 8px 6px rgb(0, 0, 0, .4);
}

#reset {
    padding: .5em 1em;
    font-size: .7em;
    width: 203px;
    height: 75px;
    font-weight: bold;
    color: white;
    background: rgb(150, 112, 112);
    border-radius: .3rem;
    transition: .8s;
    margin-left: -.1rem;
    border-left: 6px solid #FFFFFF;
    border-right: 6px solid #FFFFFF;
    box-shadow: 2px 14px 12px rgb(0, 0, 0, .4);
}

.green {
    color: #008000;
}

.green_border {
    border-left: 50px solid #008000;
    border-right: 50px solid #008000;
    transition: .5s;
}

#reset:hover {
    color: white;
    transform: scale(1.1);
    transition: .5s;
    color: #FFFFFF;
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
}

#reset:focus-within {
    color: black;
    transition: 2s;
    border-left: 20px solid rgb(150, 112, 112);
    border-right: 20px solid rgb(150, 112, 112);
    background-color: #FFFFFF;
    text-shadow: 200px 0px 1px rgb(0, 0, 0);
}

#btn_modal {
    position: absolute;
    font-size: 1.5rem;
    color: white;
    border: 1px solid white;
    margin-left: 67%;
    transition: 1s;
    bottom: 86%;
}

#btn_modal:hover {
    background-color: rgb(207, 157, 157);
    transition: .9s;
    color: white;
}

#alert_success {
    position: absolute;
    text-shadow: 2px 2px 13px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, .9);
    transition: .5s;
    top: 0%;
    right: 0%;
    width: 300px;
}


/* ==================model tutorial============== */

.modal-body {
    position: relative;
    height: 100%;
    letter-spacing: 1px;
    background-color: rgb(102, 80, 80);
}

.modal-header h4 {
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 500;
    transition: .5s;
    padding: .9rem .5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-header,
.modal-footer {
    background-color: rgb(85, 58, 58);
}

.modal-footer button {
    position: relative;
    border: 1px solid white;
    right: 8rem;
}

.modal-footer button:hover {
    color: black;
    box-shadow: 2px 2px 7px rgba(241, 227, 227, 0.5);
    transition: .7s;
    background-color: #FFFFFF;
}

.container {
    box-shadow: 2px 2px 7px rgb(0, 0, 0, .4);
    background-image: linear-gradient(to right, #704432 20%, #300202 100%);
    padding: .5rem;
    border-radius: .3rem;
    position: relative;
}

.container>div p {
    box-shadow: 2px 2px 7px rgb(0, 0, 0, .4);
    font-weight: 500;
    opacity: .6;
    padding: 1rem;
    border-radius: .5rem;
    font-style: italic;
}